
#enter,
#UploadFile,
#Provide,
#Review {
    
}














#uploded_r {
    width: 100%;
    margin-bottom: 20px;
    min-height: 100px;
    border: 1px solid #aaa;
    margin-top: 57px;
    border-radius: 5px;
}

